.banner-container {
  height: 20vh;
  width: 100%;
  background-color: rgba(0, 255, 255, 0.1);
}
.sub-title-banner {
  text-align: left;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 7%;
  margin-top: 2rem;
}
