.nav-container {
  /* background-color: #89c52b; */
  display: grid;
  grid-template-columns: 20% 80%;
  justify-items: center;
}

.link-container {
  /* background-color: #89c52b; */
  display: block;
  padding-top: 5px;
}

.mobile-container {
  /* background-color: #8d5a8a; */
  color: #1a2829;
  display: inline-flex;
  justify-self: end;
  margin-right: 10%;
  /* padding-right: 10%; */
}

.logo-container {
  box-sizing: border-box;
  width: 100px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  border-radius: 8px;
  margin-left: 10%;
}

.site-announcement-message {
  font-size: 18px;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 1.563;
  text-align: center;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  display: block;
  font-weight: 500;
  padding: 10px 0px;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .link-container {
    display: none;
  }
  .mobile-container {
    display: inline-flex;
  }
  .site-announcement-message {
    font-size: 14px;
  }
}

.mobile-container:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s;
}

.site-header {
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

.site-header-news {
  background-color: #1a2829;
}

.site-nav-link {
  -webkit-font-smoothing: antialiased;
  line-height: 1.563;
  list-style: none;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  background: transparent;
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  white-space: nowrap;
  color: #1a2829;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: color 0.2s;
  font-size: 0.82353em;
}

.site-nav-link:hover {
  color: rgba(0, 0, 0, 0.4);
}
